@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1> E-Shop</h1>
    <p class="lead"> e-shop premier magasin d'achat de matériel informatique en ligné</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
</div>
